<!-- NAV -->
  <nav>
    <ul>
        <li id = "navli"><a href="/">Home</a></li>
        <li id = "navli"><a href="books">Books</a></li>
        <li id = "navli"><a href="authors">Authors</a></li>
        <li id = "navli"><a href="series">Series</a></li>
        <li id = "navli"><a href="genres">Genres</a></li>
      </ul>
  </nav>

<!-- Header -->
<h1>Books</h1>

{{!-- Create a table --}}
<table id="books_table">

    {{!-- Header section --}}
  <thead>
    <tr>
        {{#each data.[0]}}
            {{#unless @first}}
                <th>{{@key}}</th>
            {{/unless}}
        {{/each}}
        <th>Edit</th>
        <th>Delete</th>
    </tr>
</thead>

    {{!-- Body section --}}
    <tbody>
        {{#each data}}
        <tr data_value = {{this.book_id}}>
            <td>{{this.Title}}</td>
            <td>{{this.Author}}</td>
            <td>{{this.InSeries}}</td>
            <td>{{this.Series}}</td>
            <td>{{this.Genre}}</td>
            <td><button id="edit" onclick="location.href='/edit_books?book_id={{this.book_id}}'">Edit</button></td>
            <td><button id='delete', onclick="deleteBook({{this.book_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- Connect to delete js file --}}
<script src="js/delete_book.js"></script>

<!-- Button to add book -->
<button onclick="location.href='add_books'" id="blue_button">Add Book</button> 
