<!-- NAV -->
<nav>
    <ul>
        <li id = "navli"><a href="/">Home</a></li>
        <li id = "navli"><a href="books">Books</a></li>
        <li id = "navli"><a href="authors">Authors</a></li>
        <li id = "navli"><a href="series">Series</a></li>
        <li id = "navli"><a href="genres">Genres</a></li>
    </ul>
</nav>

<!-- Header -->
<h1>Edit Series</h1>

<!-- Form for editing a series -->
<form id="update_series">
    <fieldset>
        <legend>Edit a Series</legend>

        <label for="title">Title:</label>
        <input type="text" name="title" id="title" value="{{curr_series_title}}">
        <!-- <br> -->

        <label for="author">Author(s):</label>
        <select multiple name="author" id="author">
            {{#each authors}}
                {{#if (inList this.author_id ../curr_authors)}}
                    <option value="{{this.author_id}}" selected>{{this.first_name}} {{this.last_name}}</option>
                {{else}}
                    <option value="{{this.author_id}}">{{this.first_name}} {{this.last_name}}</option>
                {{/if}}
            {{/each}}
        </select>

        <br>

        <label for="genre">Genre:</label>
        <select name="genre" id="genre">
            {{#each genres}}
                {{#if (eq this.name ../curr_genre)}}
                    <option value="{{this.genre_id}}" selected>{{this.name}}</option>
                {{else}}
                    <option value="{{this.genre_id}}">{{this.name}}</option>
                {{/if}}
            {{/each}}
        </select>
        <br>

        <label for="numOfBooks">Number of Books in Series:</label>
        <input type="number" name="numOfBooks" id="numOfBooks" min="1" max="100" value="{{curr_series_length}}">
        <br>

        <input type="submit" id="blue_button" value="Edit Series"> 
        <button id="blue_button" onclick="window.history.go(-1); return false;">Cancel</button>   
    </fieldset>
</form>

<script src="js/update_series.js"></script>
