<!-- NAV -->
<nav>
  <ul>
        <li id = "navli"><a href="/">Home</a></li>
        <li id = "navli"><a href="books">Books</a></li>
        <li id = "navli"><a href="authors">Authors</a></li>
        <li id = "navli"><a href="series">Series</a></li>
        <li id = "navli"><a href="genres">Genres</a></li>
    </ul>
</nav>

<!-- Header -->
<h1>Genres</h1>

{{!-- Create a table --}}
<table id="genres_table">

    {{!-- Header section --}}
  <thead>
    <tr>
        {{#each data.[0]}}
            {{#unless @first}}
                <th>{{@key}}</th>
            {{/unless}}
        {{/each}}
        <th>Edit</th>
        <th>Delete</th>
    </tr>
</thead>

    {{!-- Body section --}}
    <tbody>
        {{#each data}}
        <tr data_value = {{this.genre_id}}>
            <td>{{this.Name}}</td>
            <td>{{this.Description}}</td>
            <td><button id="edit" onclick="location.href='/edit_genres?genre_id={{this.genre_id}}'">Edit</button></td>
            <td><button id='delete', onclick="deleteGenre({{this.genre_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- Connect to delete js file --}}
<script src="js/delete_genre.js"></script>

<!-- Button to add genre -->
<button onclick="location.href='add_genres'" id="blue_button">Add Genre</button> 
