<!-- NAV -->
<nav>
  <ul>
        <li id = "navli"><a href="/">Home</a></li>
        <li id = "navli"><a href="books">Books</a></li>
        <li id = "navli"><a href="authors">Authors</a></li>
        <li id = "navli"><a href="series">Series</a></li>
        <li id = "navli"><a href="genres">Genres</a></li>
    </ul>
</nav>

<!-- Header -->
<h1>Series</h1>

{{!-- Create a table --}}
<table id="series_table">

    {{!-- Header section --}}
  <thead>
    <tr>
        {{#each data.[0]}}
            {{#unless @first}}
                <th>{{@key}}</th>
            {{/unless}}
        {{/each}}
        <th>Edit</th>
        <th>Delete</th>
    </tr>
</thead>

    {{!-- Body section --}}
    <tbody>
        {{#each data}}
        <tr data_value = {{this.series_id}}>
            <td>{{this.Title}}</td>
            <td>{{this.Genre}}</td>
            <td>{{this.Series_Length}}</td>
            <td><button id="edit" onclick="location.href='/edit_series?series_id={{this.series_id}}'">Edit</button></td>
            <td><button id='delete', onclick="deleteSeries({{this.series_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- Connect to delete js file --}}
<script src="js/delete_series.js"></script>

<!-- Button to add series-->
<button onclick="location.href='add_series'" id="blue_button">Add Series</button> 
